
<head>
<meta charset="ISO-8859-1">
<title>ADMIN </title>
</head>
<body bgcolor="white">
    <div class="topnav">
        <ul>
            <a routerLink='/admin-login'>Home</a>
            <a href="#news">Support</a>
            <a href="#logout">Logout</a>
          </ul>
        </div>
        <br>
        <br>


    <div class="content">
        <h3><u>Select the Level</u></h3>
            <label for="level">Level:</label>
            <select name="level" >
                <option>1:Easy</option>
                <option>2:Medium</option>
                <option>3:Hard</option>
            </select>
            <br>
            <br>
            <a routerLink='/browse'><button style="margin-right: 16px;"  type="submit">NEXT</button></a>
            <a routerLink='/page3'><button style="margin-right: 16px;"  type="submit">BACK</button></a>
           
    
    </div>
</body>

<div class="footer">
	<footer>
  		<p>2020 Larsen & Tourbo InfoTech Limited</p>
	</footer> 
	</div>
