<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>ADMIN </title>
<link rel="stylesheet" href="admin-add-test.component.css">
</head>
<body>
    <div class="topnav">
        <ul>
            <a href="home.html">Home</a>
            <a href="#news">Support</a>
            <a href="#logout">Logout</a>
          </ul>
        </div>
        <br>
        <br>
    <div class="content">
        <a href="3page.html"><button class="button" type="submit">ADD/UPDATE TEST</button></a>
        <br>
        
        <a href="4page.html"><button class="button"  type="submit">VIEW REPORTS</button></a>
        <br>
    </div>
</body>

<div class="footer">
	<footer>
  		<p>&copy 2020 Larsen & Tourbo InfoTech Limited</p>
	</footer> 
	</div>
</html>