<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<!-- <link rel="stylesheet" href="loginPage.css"> -->
</head>
<body class ="body" marginheight="0" marginwidth="0">

<div class="topsection">
	<ul>
		<li><a routerLink="/home" style= "font-size:120%;">HOME</a></li>
		<li><a href="support.html" style= "font-size:120%;">SUPPORT</a></li>
		<li class="rightalign"><a routerLink="/registration" style= "font-size:120%;">REGISTER</a></li>
	</ul>
</div><br><br><br>



<div class="midsection">
<h2>STUDENT PORTAL</h2>
<h3>Login To</h3> 
<p>to continue to Examin</p>
	<form>
	    <input [(ngModel)]="userName" class="input" type="text" placeholder="Enter Email" name="uname" required>
	    <br><br>
	    <input [(ngModel)]="password" class="input" type="password" placeholder="Enter Password" name="psw" required>
		<p class="forgotpass"><a href="forgotPass.html">Forgot Password</a></p><br>
		<a><button type="submit" class="button button1" (click)="onSubmit()">Submit</button></a><br><br>  
	    <!-- <button  class="button button1" type="submit" >SUBMIT</button> -->
	</form>
</div>
<br><br><br><br>

<div class="footer">
	<ul>
		<li style= "font-size:85%;"><b>Address:</b><br>Larsen and Toubro Infotech</li>
		<li style= "font-size:85%;"><b>Email:</b><br>Examin@gmail.com</li>
		<li style= "font-size:85%;"><b>Contact:</b><br> +91 9876567894</li>
	</ul>
</div>


</body>
</html>