<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Ques </title>
</head>
<body>
    <div class="topnav">
        <ul>
            <a routerLink='/admin-login'>Home</a>
            <a href="#news">Support</a>
            <a href="#logout">Logout</a>
          </ul>
        </div>
        <br>
        <br>
    <div class="content">
        <h3><u>ADD QUESTION</u></h3>
        <p>This is Question 1   &emsp; &emsp; &emsp; <button type="submit">Delete</button></p>
        <p>This is Question 2   &emsp; &emsp; &emsp; <button type="submit">Delete</button></p>
        <p>This is Question 3   &emsp; &emsp; &emsp; <button type="submit">Delete</button></p>
        <p>This is Question 4   &emsp; &emsp; &emsp; <button type="submit">Delete</button></p>
        <p>This is Question 5   &emsp; &emsp; &emsp; <button type="submit">Delete</button></p>
        <p>This is Question 6   &emsp; &emsp; &emsp; <button type="submit">Delete</button></p>
        <a routerLink='/add-ques-single'><button type="submit"> Add New Question</button></a>
        <a routerLink='/browse'><button type="submit"> Back</button></a>
    </div>
   
   
   
</body>

<div class="footer">
	<footer>
  		<p>2020 Larsen & Tourbo InfoTech Limited</p>
	</footer> 
	</div>
</html>