<body>
    <div class="topnav">
        <ul>
            <a routerLink='/admin-login'>Home</a>
            <a href="#news">Support</a>
            <a href="#logout">Logout</a>
          </ul>
        </div>
        <br>
        <br>

    <div class="content">
        <a routerLink='/add-ques'><button style="padding: 10px;">Add Question</button></a>
        <br>
        <br>
        <input placeholder="Add a Excel File"><button type="submit"> Browse</button>
        <br>
        <br>
       
        <button type="submit"> Submit</button>
        <button type="submit"> Cancel</button>
    </div>
   
   
   
</body>

<div class="footer">
	<footer>
  		<p>&copy 2020 Larsen & Tourbo InfoTech Limited</p>
	</footer> 
	</div>