<head>
    <meta charset="ISO-8859-1">
    <title>ADMIN </title>
    </head>
    <body class="body"marginheight="0" marginwidth="0" >
    
        <div class="topsection">
            <ul>
                <li><a href="/home" style= "font-size:120%;">ABOUT US</a></li>
                <li><a href="/support" style= "font-size:120%;">SUPPORT</a></li>
                <li class="rightalign"><a href="/login" style= "font-size:120%;">LOGOUT</a></li>
            </ul>
        </div><br><br><br><br><br>
    
    
        <div class="heading">
            <h2>Please enter the field for viewing student details</h2>
        </div>
        <div class="buttons">
            <input class="input" [(ngModel)]="marks" type="text" placeholder="Marks" name="marks"required>
            <a (click)="viewMarks()"><button type="submit">View</button></a><br><br> 

            <input class="input" [(ngModel)]="city" type="text" placeholder="City" name="marks"required>
        <a (click)="viewCity()"><button type="submit">View</button></a><br><br>

        <input class="input" [(ngModel)]="state" type="text" placeholder="State" name="marks"required>  
        <a (click)="viewState()"><button type="submit">View</button></a><br><br>

        <input class="input" [(ngModel)]="sub" type="text" placeholder="Subject" name="marks"required>  
        <a (click)="viewSub()"><button type="submit">View</button></a><br><br>
        
        <br><br> 
        <section *ngIf="stateData">
            <div *ngFor="let data of stateData">Name: {{data.name}} <br>City: {{data.city}} <br> State:{{data.state}} <br> Email: {{data.email}} <br> Phone Number: {{data.phoneNo}}<br><br></div> 
        </section>
        <section *ngIf="cityData">
        <div *ngFor="let data of cityData">Name: {{data.name}} <br>City: {{data.city}} <br> State:{{data.state}} <br> Email: {{data.email}} <br> Phone Number: {{data.phoneNo}}<br><br></div> 
    </section>
    
    <section *ngIf="subData">
        <div *ngFor="let data of subData">Name: {{data.name}} <br>City: {{data.city}} <br> State:{{data.state}} <br> Email: {{data.email}} <br> Phone Number: {{data.phoneNo}}<br><br></div> 
    </section>  
    <section *ngIf="marksData">
        <div *ngFor="let data of marksData">Name: {{data.name}} <br>City: {{data.city}} <br> State:{{data.state}} <br> Email: {{data.email}} <br> Phone Number: {{data.phoneNo}}<br><br></div> 
    </section>
        <br><br>  
   
        </div>
        <div class="footer">
            <ul>
                <li style= "font-size:85%;"><b>Address:</b><br>Larsen and Toubro Infotech</li>
                <li style= "font-size:85%;"><b>Email:</b><br>Examin@gmail.com</li>
                <li style= "font-size:85%;"><b>Contact:</b><br> +91 9876567894</li>
            </ul>
        </div>
        
      
    </body>