<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register Yourself</title>
<!-- <link rel="stylesheet" href="registrationPage.css"> -->
</head>
<body class="body"marginheight="0" marginwidth="0" >
<div class="topsection">
	<ul>
		<li><a routerLink="/home" style= "font-size:120%;">HOME</a></li>
		<li><a routerLink="/support" style= "font-size:120%;">SUPPORT</a></li>
		<li class="rightalign"><a routerLink="/login" style= "font-size:120%;">LOGIN</a></li>
	</ul>
</div><br><br>

<div class="midsection">

<h2>EXAM PORTAL</h2>
<h3>Register Yourself at Examin</h3> 
<p>Enter the following details</p>
	<form>
		
		<input class="input" type="text" placeholder="Full name" name="uname" required><br><br>
		
	    <input class="input" type="email" placeholder="Email" name="uid" required ><br><br>
	    
	    <input class="input" type="password" placeholder="Password" name="psw" required><br><br>
	    
	    <input class="input" type="text" placeholder="State" name="state" required><br><br>
	    
	    <input class="input" type="text" placeholder="City" name="city" required><br><br>
	    
	    <input class="input" type="text" placeholder="Phone Number" name="contact" required><br><br>
	    
	    <input class="input" type="date" placeholder="01/01/1990" name="dob" required><br><br>
	   
		<select class="select" id="Qualification" name="qualification">
 			<option value="B.tech">B.tech</option>
  			<option value="M.tech">M.tech</option>
  			<option value="bca">BCA</option>
  			<option value="mca">MCA</option>
		</select><br><br>
		
	    <input class="input" type="text" placeholder="CompletionYear" name="CompYear" required><br><br>
	    <br>
	
	    <button  class="button button1" type="submit">SUBMIT</button>
	    
	</form>
</div>
<br>
<br>

<div class="footer">
	<ul>
		<li style= "font-size:85%;"><b>Address:</b><br>Larsen and Toubro Infotech</li>
		<li style= "font-size:85%;"><b>Email:</b><br>Examin@gmail.com</li>
		<li style= "font-size:85%;"><b>Contact:</b><br> +91 9876567894</li>
	</ul>
</div>

</body>
</html>