<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Select you option</title>

</head>
<body class="body"marginheight="0" marginwidth="0" >
<div>Hello {{useName}} !</div>
<div class="topsection">
	<ul>
		<li><a href="/home" style= "font-size:120%;">ABOUT US</a></li>
		<li><a href="/support" style= "font-size:120%;">SUPPORT</a></li>
		<li class="rightalign"><a href="/login" style= "font-size:120%;">LOGOUT</a></li>
	</ul>
</div><br><br><br><br><br>
<div  class="buttons">
	<a routerLink="/subjectList" routerLinkActive="active"><button type="submit">Take Test</button></a><br><br>  
	<a routerLink="/report" routerLinkActive="active"><button type="submit">View Report</button></a><br><br>  
	<button>View Profile</button><br><br>
</div>

<br>
<br>
<br><br><br>
<div class="footer">
	<ul>
		<li style= "font-size:85%;"><b>Address:</b><br>Larsen and Toubro Infotech</li>
		<li style= "font-size:85%;"><b>Email:</b><br>Examin@gmail.com</li>
		<li style= "font-size:85%;"><b>Contact:</b><br> +91 9876567894</li>
	</ul>
</div>

