<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Ques </title>
</head>
<body>
    <div class="topnav">
        <ul>
            <a routerLink='/admin-login'>Home</a>
            <a href="#news">Support</a>
            <a href="#logout">Logout</a>
          </ul>
        </div>
        <br>
        <br>
    <div class="content">
        <h3><u>ADD QUESTION</u></h3>
        Enter Question:<input placeholder="Enter Question">
        <br>
        <br>
        Option 1:<input  placeholder="option 1">
        <br>
        <br>
        Option 2:<input placeholder="option 2">
        <br>
        <br>
        Option 3:<input placeholder="option 3">
        <br>
        <br>
        Option 4:<input placeholder="option 4">
        <br>
        <br>
        <label for="ans">Correct Answer:</label>
        <select name="techno" >
            <option>option 1</option>
            <option>option 2</option>
            <option>option 3</option>
            <option>option 4</option>
        </select>
        <br>
        <br>
        <button type="submit"> Submit</button>
        <button type="submit"> Cancel</button>
    </div>
   
   
   
</body>

<div class="footer">
	<footer>
  		<p>2020 Larsen & Tourbo InfoTech Limited</p>
	</footer> 
	</div>
</html>