<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome</title>

</head>
<body marginheight="0" marginwidth="0">

<div class="header">
	<img class="img" src="assets/online_education.png" width="100%" height="350" >
	
	<div class="text">
	<p style= "font-size:70px;"><b>ExamIn</b></p>
	<p style= "font-size:35px;"><b>Easily Conduct Online Tests with Our Online Testing Platform</b></p>
	</div>

</div>

<div class="greycard">
<ul>
		<li style= "font-size:18px;">Trusted by:</li>
		<li style= "font-size:20px;"><b>Larsen & Toubro</b></li>
		<li style= "font-size:20px;"><b>Punjab University</b></li>
		<li style= "font-size:20px;"><b>UPES</b></li>
		<li style= "font-size:20px;"><b>LTI</b></li>
		
		
	</ul>
</div>

<div class="cards">
	<div class="row">
  		<div class="column">
    		<div class="card" style="font-size: 20px">Login to take the test<br><br><br><a routerLink="/login" style="text-decoration: none"><b>LOGIN</b></a></div>
  		</div>
  		<div class="column">
    		<div class="card" style="font-size: 20px">Register Yourself<br><br><br><a routerLink="/registration" style="text-decoration: none"><b>REGISTER</b></a></div>
  		</div>
  		<div class="column">
    		<div class="card " style="font-size: 20px">Login as an Administrator<br><br><br><a routerLink="/admin-login" style="text-decoration: none"><b>ADMIN LOGIN</b></a></div>
		</div>
	</div>
</div>

<hr class="hr">

<div class="content">
<p>Key Business Benefits of Online Exams on Examin Platform<p>
</div>

<div class ="colorcard">
	<ul>
		<li><img src="assets/online.png"  width="20%" height="20%" align="left">
		<div class="content1">
		<h2>Online examination solution</h2>
		<p style="font-size: 20px ">Conduct and take your exams online with our platform.</p>
		</div></li>
		<li><img src="assets/remote.png"  width="20%" height="20%" align="left">
		<div class="content2">
		<h2>Remote assessments</h2>
		<p style="font-size: 20px ">Give examinations anywhere, anytime.</p>
		</div></li>
		<li><img src="assets/instant.jpg"  width="20%" height="20%" align="left">
		<div class="content3">
		<h2>Instant results</h2>
		<p style="font-size: 20px ">Get instant evaluation report for your exam.</p>
		</div></li>
	</ul>
</div>

<div class="footer">
	<ul>
		<li style= "font-size:85%;"><b>Address:</b><br>Larsen and Toubro Infotech</li>
		<li style= "font-size:85%;"><b>Email:</b><br>Examin@gmail.com</li>
		<li style= "font-size:85%;"><b>Contact:</b><br> +91 9876567894</li>
	</ul>
</div>



</body>
</html>