
	<div class= "Header"><H1>ExamIn</H1>
	
	<div class= "topnav">	
	<ul >
		<a routerLink='/subjectList'> Choose Exam </a>
		<a routerLink='/instruction'> Instruction </a>
		<a routerLink='/question'> Questions </a>
		<a routerLink='/report'> Report </a>

		<!-- <a href="ExamList.html">Choose Exam </a>
		<a href="Instructions.html">Take Test</a> 
		<a href="Question.html">Question</a> 
		<a href="Report.html">View Report</a>  -->

	</ul>
	</div>
	</div>
	<br>
	
	<div class="instructionBody">
	<h3> Following are the instructions that will guide you through the best practices to follow during the exam: </h3>
	<br>
	<ol class="instructionList">
		  <li>The Test will auto-submit once the timer expires. </li>
		  <li>Marks and Passing Status will be displayed after the test. </li>
		  <li>You cannot back track once the test is submitted. </li>
		  <li>Minimum passing criteria is 30%</li>
	</ol>

	</div>
	
	<br>
	<div class="subList">
		<a routerLink="/question" routerLinkActive="active"><button type="submit" class="startbtn">Take Test</button></a><br><br>  
	<!-- <a href="Question.html"><button type="button" class="startbtn" onclick="Question.html">START TEST</button></a> -->
		<button type="button" class="logoutBtn" onclick="validateForm()">LOG OUT</button>
	</div>


	<br>
	<div class="footer">
	<footer>
  		<p>&copy 2020 Larsen & Tourbo InfoTech Limited</p>
	</footer> 
	</div>
	 











