<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>ADMIN </title>
</head>
<body>
    <div class="topnav">
        <ul>
            <a routerLink='/admin-login'>Home</a>
            <a href="#news">Support</a>
            <a href="#logout">Logout</a>
          </ul>
        </div>
        <br>
<div class="content">
    <a routerLink='/choose-level'> <button class="button" type="submit">HTML</button></a>
    <a routerLink='/choose-level'> <button class="button" type="submit">C#</button></a>
        
    </div>
    <div class="content">
        <a routerLink='/choose-level'> <button class="button" type="submit">JAVA</button></a>
        <a routerLink='/choose-level'> <button class="button" type="submit">MYSQL</button></a>
    </div>
    <div class="content">
        <a routerLink='/choose-level'> <button class="button" type="submit">CSS</button></a>
        <a routerLink='/choose-level'> <button class="button" type="submit">PYTHON</button></a>
    </div>
   <div class="content">
    <a routerLink='/admin-add-test'><button class="back" type="submit">BACK</button></a>
   </div>
   
</body>

<div class="footer">
	<footer>
  		<p>2020 Larsen & Tourbo InfoTech Limited</p>
	</footer> 
	</div>

</html>